.tablink {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 3px solid white;
  outline: none;
  cursor: pointer;
  padding: 16px 16px;
  font-size: 17px;
  width: 18%;
  border-radius: 10px;
}

.tablink:hover {
  background-color: #4c2525;
  color: white;
}

hr {
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background-color: #ff7c7c;
}

.tabcontent {
  /*scroll-snap-type: y mandatory;*/
  overflow: scroll;
  height: 100vh;
}

.child {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans";
}

@media all and (max-width: 900px) {
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans";
    font-size: 1.5vh;
  }
}

section {
  position: inherit;
  padding: 0%;
}

.dateStamp {
  float: right;
  padding-right: 10px;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #163541;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  pointer-events: none;
  max-height: 100%;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #0055B7;
}
a:active,
a:hover {
  outline: 0;
  color: #4f73a7;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-weight: italic;
}
figure {
  margin: 0;
}
hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 1px;
  border: 0;
  background: #eff1f3;
}
pre {
  overflow: auto;
}
.main-container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.divider {
  margin-right: 0.45rem;
  margin-left: 0.25rem;
  color: #5c6e74;
}
.divider:after {
  content: "\00a0/";
}
.page_header {
  margin-bottom: 5rem;
}
.page_header h1 {
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-size: 2.4rem;
  color: #163541;
}
.page_header h1.home-h1 {
  margin-top: 5rem;
}
.page_header p {
  line-height: 1;
  font-size: 1.8rem;
}
.about-h1 {
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-size: 2.4rem;
  color: #163541;
}
.page_footer {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.page_footer p {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #5c6e74;
}
.work-page {
  margin-bottom: 10rem;
}
.work-page__header {
  margin-bottom: 5rem;
}
@media screen and (min-width: 480px) {
  .work-page__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
.work-page__title {
  line-height: 1.5;
  font-size: 3.2rem;
  color: #163541;
}
.work-page__time {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #5c6e74;
}
.work-page__main {
  margin-bottom: 5rem;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #5c6e74;
}
.work-page__main > * {
  margin-bottom: 1.8rem;
}
.work-page__main h2 {
  line-height: 1.5;
  font-size: 2.4rem;
}
.work-page__main h3 {
  line-height: 1.5;
  font-size: 2rem;
}
.work-page__main h4 {
  line-height: 1.6;
  font-size: 1.8rem;
}
.work-page__main h5 {
  line-height: 1.5;
  font-size: 1.8rem;
}
.work-page__main strong {
  color: #163541;
  font-weight: 400;
}
.work-page__main blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.8rem;
  border-left: 1px solid #eff1f3;
}
.work-page__main ul,
.work-page__main ol {
  margin-left: 2.1rem;
}
.c-tag {
  margin-right: 1rem;
  position: relative;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #163541;
}
.c-tag:before {
  color: #869395;
  content: "#\2009";
}
.work {
  margin-bottom: 10rem;
}
.work__year {
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-size: 3.2rem;
}
.work__list {
  margin-bottom: 2.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.work__item {
  width: 100%;
  margin-bottom: 20px;
}
.work__item:hover h3 {
  color: #4f73a7;
}
@media screen and (min-width: 780px) {
  .work__item {
    width: calc(33.33% - 10px);
    margin-right: 15px;
  }
}
@media screen and (min-width: 520px) and (max-width: 779px) {
  .work__item {
    width: calc(50% - 5px);
    margin-right: 10px;
  }
}
@media screen and (min-width: 520px) and (max-width: 779px) {
  .work__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 780px) {
  .work__item:nth-child(3n) {
    margin-right: 0;
  }
}
.work__item img {
  margin-bottom: 5px;
}
.work__item h3 {
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: transparent;
  text-decoration: none;
  color: #0055B7;
}
.work__item p {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #515862;
  font-size: 1.2rem;
}
pre,
code {
  font-family: "Open Sans";
  font-size: 1.4rem;
  line-height: 1.5;
}
.highlight {
  border-radius: 4px;
  background: #fdfdfd;
  border: 1px solid #e8e8eb;
  color: #93a1a1;
}
.post-title {
  color: #acb9bd;
  font-size: 14px;
  line-height: 1.2em;
}
.work-page img {
  display: block;
  margin-bottom: 30px;
}
.c-category {
  display: block;
  float: right;
  font-size: 14px;
  color: #acb9bd;
  margin-top: 3px;
}
.m-margin {
  margin-bottom: 60px;
}
.title-p {
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 30px;
  color: #163541;
  opacity: 0.8;
}
.post-description {
  margin-top: 50px;
  margin-bottom: 30px;
}
.post-description h4 {
  margin-bottom: 20px;
  font-size: 22px;
}
.post-description h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
.post-description p {
  margin-bottom: 20px;
}
.post-description ul {
  margin-bottom: 20px;
}
