@import '~antd/dist/antd.css';

.App {
  background-color: #715192;
  height: 100vh;
  width: 100vw;
  padding: 29px;
}

.Header {
  background-color: #715192;
  height: 10vh;
}

.Content {
  background-color: #715192;
  height: 80vh;
}

.Footer {
  background-color: #715192;
  height: 10vh;
}

.Logo {
  object-fit: contain;
  margin-left: 10px;
}

.Divider {
  background-color: white;
}

.Setting:hover {
  opacity: 0.5;
}

.Text {
  color: white;
  font-size: 29px;
}

.ModalText {
  color: #715192;
  font-size: 29px;
  font-weight: bold;
}

.Input {
  margin-bottom: 10px;
  width: 100%;
}

.InputDesc {
  color: #715192;
}